@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

:root {
    --primary-color: #009D67;
    --white-color: #FFFFFF;
    --secondary-color: #006341;
    --black-color: #000000;
    --un-active-color: #D9D9D9;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 1;
}

#navbar > ul > img {
    height: 50px;
    margin-right: 20px;
}

#navbar > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

#welcome-section {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 1067px;
    height: 360px;
    position: relative;
    margin: 0 auto;
    top: 100px;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section img {
    width: 256px;
    height: 256px;
    margin-left: 50px;
}

#welcome-section h5 {
    width: 800px;
    height: 132px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

#slideshow-container {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    height: 400px;
    top: 200px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideImage {
    max-width: 100%;
    height: auto;
}

#dot-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    top: 300px;
}

.dot {
    display: inline-block;
    margin: 0 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--un-active-color);
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--secondary-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}


.line {
    position: absolute;
    width: 1425px;
    height: 0px;
    left: 0px;
    top: 1385.25px;
    border: 1px solid #000000;
}

.footer {
    position: absolute;
    width: 195px;
    height: 33px;
    left: 563px;
    top: 1394.25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

.footer .github-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-evenly;
}

.footer .github-icon {
    width: 110px;
    height: 120px;
    left: 0px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-right: 10px;
}

.footer .github-link .githubLink {
    text-decoration: none;
    color: var(--primary-color);
}

.footer .github-link .githubLink:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}